<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Jovian Careers</title>
    <style>
        #banner {
            height: 360px;
            object-fit: cover;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Career</h1>
        <img class="img-fluid" id="banner" src="{{ url_for('static', filename = 'banner.jpg') }}" alt="jovian careers">
        <h2 class="text-center mt-2 mb-4">About Jovian</h2>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In pariatur ducimus possimus inventore
            facere
            quidem soluta. Deserunt tempora eius iste illo accusamus dolores eligendi omnis dicta consequatur. Ipsa, qui
            eos.</p>
        <h2 class="text-center mt-2 mb-4">Open positions</h2>
        <p>
            {% if jobs %}
            {% for job in jobs %}
            {% include 'job-item.html' %}

            {% endfor %}
            {% else %}
        <p>There is no any vacancy</p>

        {% endif %}
        </p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact Us</button>
            <p class="mt-4">copyright 2022 right</p>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>